<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>QuickLog</title>

    <!-- external styles -->
    <link rel="stylesheet" href="../css/lib/bootstrap.css">
    <link rel="stylesheet" href="../css/lib/uikit.css">
    <link rel="stylesheet" href="../css/lib/photonkit.css">

    <!-- personal style -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="background">
        <div class="login">
            <img src="../src/icon_login.png" class="logo">
            <hr class="hr_up">
            <form id ="my_form">
                <input type="text" placeholder="Username" name="username" required autofocus class="username" id="username">
                <input type="password" placeholder="Password" name="psw" required class="psw" id="psw">
                <button type="button" class="button_login" id="login_button">Login</button>
                <hr class="hr_down">
                <div class="link_login">
                    <a href="./register.html" class="register">Register</a>
                </div>
            </form>
        </div>
    </div>


    <script>
        // personal javascript
        require("../js/login_script.js");

        // libraries
        require('bootstrap');
        require('jquery');
        require('popper.js');
        require('uikit');
    </script>
</body>
</html>
