<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>QuickLog</title>

    <!-- personal style -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- external styles -->
    <link rel="stylesheet" href="../css/lib/bootstrap.css">
    <link rel="stylesheet" href="../css/lib/uikit.css">
    <link rel="stylesheet" href="../css/lib/font-awesome/css/all.css">
    <!-- <link rel="stylesheet" href="../css/lib/semantic/semantic.min.css"> -->
    <link rel="stylesheet" href="../css/lib/photonkit.css">


</head>
<body>



    <div class="window">
        <div class="window-content">
            <div class="pane-group">

                <!-- navigation section -->
                <div class="pane-sm sidebar">

                    <nav class="nav-group">
                        <h5 class="nav-group-title">Personal</h5>
                        <a class="nav-group-item active">
                            <span class="icon icon-lock"></span>
                            Passwords
                        </a>
                        <a href="./recents.html" class="nav-group-item">
                            <span class="icon icon-clock"></span>
                            Recents
                        </a>
                        <a href="./account.html" class="nav-group-item">
                            <span class="icon icon-user"></span>
                            Account
                        </a>
                    </nav>
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Security</h5>
                        <a href="./documents.html" class="nav-group-item">
                            <span class="icon icon-folder"></span>
                            Documents
                        </a>
                    </nav>
                </div>



                <!-- passwords section -->
                <div class="pane">

                    <header class="toolbar toolbar-header">
                        <div style="float:left;" class="mt-2 mb-2 ml-2">
                            <div class="btn-group ml-1">

                                <!-- button add -->
                                <button class="btn btn-default" uk-tooltip="title: Add; pos: bottom" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                                    <span class="icon icon-plus"></span>
                                </button>

                                <!-- Modal Add -->
                                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="exampleModalScrollableTitle">Add a password</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <!-- plateforme -->
                                                    <div class="form-group">
                                                        <label for="plateform">Plateform</label>
                                                        <input type="text" class="form-control" id="plateform_add" placeholder="Enter the plateform">
                                                    </div>

                                                    <!-- url -->
                                                    <div class="form-group">
                                                        <label for="url">Url</label>
                                                        <input type="text" class="form-control" id="url_add" aria-describedby="urlHelp" placeholder="Enter the URL">
                                                    </div>

                                                    <!-- email -->
                                                    <div class="form-group">
                                                        <label for="email">E-mail</label>
                                                        <input type="email" class="form-control" id="email_add" placeholder="Enter the email">
                                                    </div>


                                                    <!-- username -->
                                                    <div class="form-group">
                                                        <label for="username">Username</label>
                                                        <input type="text" class="form-control" id="username_add" placeholder="Enter the username">
                                                    </div>


                                                    <!-- password -->
                                                    <div class="form-group">
                                                        <label for="password">Password</label>
                                                        <input type="password" class="form-control" id="password_add" aria-describedby="passwordHelp" placeholder="Enter the password">
                                                        <small id="passwordHelp" class="form-text text-muted">We'll never share this password with anyone else.</small>
                                                    </div>

                                                    <!-- type -->
                                                    <div class="form-group">
                                                        <label for="url">Type</label>
                                                        <input type="text" class="form-control" id="type_add" placeholder="Enter the type">
                                                    </div>


                                                    <!-- color -->
                                                    <div style="float: left;">
                                                        <div class="form-check pl-0">
                                                            <input class="form-check-input ml-0" type="radio" name="color" id="color_default_add" value="default" checked>
                                                            <label class="form-check-label ml-3" for="color_default_add">
                                                                Default color
                                                            </label>
                                                        </div>
                                                        <div class="form-check pl-0">
                                                            <input class="form-check-input ml-0" type="radio" name="color" id="color_custom_add" value="custom">
                                                            <label class="form-check-label ml-3" for="color_custom_add">
                                                                Custom color
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div style="float: left; width: 332px;display: none" class="ml-4 mt-2" id="choix_color">
                                                        <div class="form-group">
                                                            <select class="form-control" id="custom_select_add">
                                                                <option>Red</option>
                                                                <option>Green</option>
                                                                <option>Blue</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id="add_password">Add</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- fin modal ajout -->






                                <!-- button export -->
                                <button class="btn btn-default" uk-tooltip="title: Export; pos: bottom" id="button_export">
                                    <span class="icon icon-export"></span>
                                </button>

                            </div>

                            <!-- button color -->
                            <button class="btn btn-default btn-dropdown" uk-tooltip="title: Colors; pos: right" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-record"></span>
                            </button>
                            <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#" id="select_color_default">
                                    <i class="icon icon-record text-secondary"></i> Default
                                </a>
                                <a class="dropdown-item" href="#" id="select_color_red">
                                    <i class="icon icon-record text-danger"></i> Red
                                </a>
                                <a class="dropdown-item" href="#" id="select_color_green">
                                    <i class="icon icon-record text-success"></i> Green
                                </a>
                                <a class="dropdown-item" href="#" id="select_color_blue">
                                    <i class="icon icon-record text-primary"></i> Blue
                                </a>
                            </div>

                            <!-- button Synchro -->
                            <button class="btn btn-default" uk-tooltip="title: Synchronization; pos: bottom" id="synchronization">
                                <span class="icon icon-arrows-ccw"></span>
                            </button>



                        </div>
                        <!-- search field -->
                        <div style="float:left; width: 330px;" class="mt-2 ml-3">
                            <div class="input-group">
                                <input type="text" class="form-control" style="height: 25px;" placeholder="Search..." id="search_field" aria-label="Search" aria-describedby="button_search_mdp">
                                <div class="input-group-append">
                                    <button class="btn btn-default" type="button" id="button_search_mdp">
                                        <span class="icon icon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </header>


                    <table class="uk-table uk-table-striped uk-table-small my-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Kind</th>
                                <th class="text-center">Options</th>
                            </tr>
                        </thead>
                        <tbody id="liste_full_passwords">
                            <!-- ici la loste de tous les mdp -->



                        </tbody>
                    </table>

                </div>




                <!-- details section -->
                <div class="details">


                    <div class="row justify-content-center mx-0">
                        <div class="icon bg-secondary mt-3" style="display:flex;justify-content:center;align-items:center;width:100px;height:100px;border-radius: 50%;">
                            <i class="fab fa-instagram text-light" style="font-size: 65px;"></i>
                        </div>
                    </div>

                    <div class="text-center mt-3 text-dark">
                        <b style="font-size: 19px;">Instagram</b>
                    </div>

                    <div class="content-details mt-5 mx-4" style="line-height: 30px;">
                        <span>
                            <b>Url</b>
                            <span style="font-size: 12px;"> : https://www.instagram.fr</span>
                            <br>
                        </span>

                        <span>
                            <b>E-mail</b>
                            <span style="font-size: 12px;"> : mail@example.fr</span>
                            <br>
                        </span>

                        <span>
                            <b>Username</b>
                            <span style="font-size: 12px;"> : username</span>
                            <br>
                        </span>

                        <span>
                            <b id="password">Password</b>
                            <span style="font-size: 12px;"> : •••••••••• </span>
                            <a href="#">
                                <i class="far fa-copy ml-1" style="font-size: 15px;" uk-tooltip="title: Clipboard; pos: bottom" id="clipboard"></i>
                            </a>
                        </span>

                    </div>





                </div>




            </div>
        </div>







        <footer class="toolbar toolbar-footer">
            <h1 class="title pull-left ml-2" id="nb_passwords">Number of passwords : <span id="nb_passwords_span"></span></h1>
            <h1 class="title pull-left ml-4">|</h1>
            <h1 class="title pull-left ml-4">Number of documents : 12</h1>

            <h1 class="title pull-right mr-2" id="username">Account : </h1>

            <button type="button" name="button" id="button_test">test</button>
        </footer>


    </div>

    <script>




    // libraries
    window.$ = window.jQuery = require('jquery');
    require('bootstrap');
    require('popper.js');
    require('uikit');

    // personal javascript
    require("../js/passwords_script.js");


</script>
</body>
</html>
